.wrappper

  .header
    .header-content
      .header-content__logo
        %h3 Gotou takeyuki
        %h4 portfolio
    .header-nav-container
      %ul
        %li
          %a(href="#about")
            About
        %li
          %a(href="#works")
            Works
        %li
          %a(href="#pr")
            PR
        %li
          %a(href="#contact")
            Contact

  .cover
    .cover-inner
      %ul.slideshow
        %li
          = image_tag 'main.jpg', width: '100%', height: '100%'
          %p ZEROからの挑戦をあえて選んだのは！
        %li
          = image_tag 'main2.jpg', width: '100%', height: '100%'
          %p テクノロジーの可能性と,これまでの経験とを掛け合わせ！
        %li
          = image_tag 'main3.jpg', width: '100%', height: '100%'
          %p 多くの人の役に立ちたいと思ったからです！
        
        


  .about
    .about-content
      .about-content__comment
        %h2#about About
        .about-content__comment__image
          = image_tag "takeyukitest.jpg"
        .about-content__comment__text
          
          %p.txt はじめまして。後藤健之と申します。
          %p.txt お米の名産地、新潟県の田舎で生まれ、育ちました。
          %p.txt 趣味はフットサル！サッカー観戦！高校までは野球部で高校球児でしたが笑
          %p.txt これまでは惣菜店の店長、工具の営業をしていました！
          %p.txt 前職の社内改革を通じて、プログラミングがもたらす影響力、可能性に魅力を感じました。
          %p.txt 自分の作ったプロダクトで多くの人の役に立ちたい、創意工夫で面白い事をやりたいと思い
          %p.txt 人生最後の挑戦を決意！
          %p.txt 独学期間を経てプログラミングスクールTECH CAMP 2020年２月入学
          %p.txt 2020年8月卒業、現在に至ります。

  .work
    .work-content
      %h2#works Works
      .work-content__comment
        .work-content__comment__textleft
          = link_to "http://18.181.155.100/" do
            = image_tag 'furima1.jpg' , class: "furima_01"
          
          %p.come.o フリーマーケットサイト
          %p.come HTML,CSS,Rails.AWS.DB.
          %p.come javascript,github
       
          = link_to "https://github.com/takeyukigoto/freemarket_sample_71a/" do
            %p.come git hub
          
        .work-content__comment__textright 
          = link_to "http://176.32.86.158/" do
            = image_tag 'fut.jpg' , class: "futsal_01"
          
          
          %p.komef 機能/モーダル、アコーディオン、フェードイン,etc
          %p.komefgi 技術/HTML,CSS,Javascript,rails.
          %p.komef AWS.github.Media Queries
          %p.komef 制作について/趣味のフットサル、HPを通じてよりフットサル場の集客、魅力を伝える事を意識しました。
          %p.komef 学び/お客様目線でHPを作成する難しさ、多角的により勉強してお客様のためになるHPを作成し、貢献できる様になりたいと思いました。
          %p.komef 是非見てください/ 写真をクリックしたら遷移します。
          %p.komef url/ "http://176.32.86.158/
  
  
  
   
  
  
  .pr
    .pr-content
      %h2#pr PR
      .pr-content__comment
        %P.prhead ○前職の社内改革での取組でテクノロジーに興味を持ちました。
        %P.prcoment 業績も良く定時帰社できている会社様を見学に行きました。テクノロジーの力をフル活用し効率化をしている所に衝撃を受けました。
        %P.prcoment2 テクノロジーに関わる仕事がしたい、自分の作ったもので多くの人の役に立ちたい。
        %P.prcoment3 これまで営業マンとして周りに支えて頂き出せた、実績を一度リセットし、
        %P.prcoment3 経験×エンジニアとして多くの人の役に立ちたいと考えてます。よろしくお願いします。



  .contact
    .contact-content
      .contact-content__text
        %h2#contact Contact
        .contact-content__text__mail
          メールアドレス　takeoamiki@hotmail.co.jp
          ご連絡お待ちしております。
        

        
  
  
  .footer
    .footer-content
      .footer-content__item
        %ul
          %li
            %a(href="#about")
              About
          %li
            %a(href="#works")
              Works
          %li
            %a(href="#pr")
              PR    
          %li
            %a(href="#contact")
              Contact
              
              