.wrappper

  .header
    .header-content
      .header-content__logo
        = link_to "#" do
          %h3 Gotou takeyuki
        = link_to "#" do
          %h4 portfolio
    .header-nav-container
      %ul
        %li
          %a(href="#about")
            About
        %li
          %a(href="#work")
            Work
        %li
          %a(href="#faq")
            FAQ
        %li
          %a(href="#contact")
            Contact

  .cover
    .cover-inner
      %ul.slideshow
        %li
          %img{:alt => "", :height => "100%", :src => "assets/main.jpg", :width => "100%"}/
          %p ZEROからの挑戦をあえて選んだのは！
        %li
          %img{:alt => "", :height => "100%", :src => "assets/main2.jpg", :width => "100%"}/
          %p テクノロジーの可能性と,これまでの経験とを掛け合わせ！
        %li
          %img{:alt => "", :height => "100%", :src => "assets/main3.jpg", :width => "100%"}/
          %p 多くの人の役に立ちたいと思ったからです！
        
        


  .about
    .about-content
      .about-content__comment
        %h2#about About
        .about-content__comment__image
          = image_tag "takeprofile.jpg"
        .about-content__comment__text
          %h5 <自己紹介＞
          %h4 後藤　健之
          %p.txt 新潟県出身、新潟の田舎で育ち、大学で愛知県へ、中京大学を卒業。
          %p.txt 職歴：惣菜店の店長、工具商社の営業。
          %p.txt 2020年2月 TECH::CAMP入学。
          %p.txt 2020年5月 人生最後の挑戦を全力で行う為、
          %p.kai 2020年5月会社退社。
          %p.txt TECH::CAMP 71期 2020年8月 卒業 
          
          
  .work
    .work-content
      %h2#work Work
      .work-content__comment
        .work-content__comment__textleft
          %h5 <フリーマーケットアプリ＞ 
          = link_to "http://18.181.155.100/" do
            = image_tag 'furima.jpg' , class: "furima_01"
          %p 技術/ HTML,CSS,Rails.AWS.DB,github
          %p 機能/ 新規登録、ログイン、編集、etc
          %p 制作について/ チームメンバー４名でアジャイル開発
          
          %p 学び/ チームワークの大切さ、完成した時、一人ではなくチーム同士で称えあえる素晴らしさ。
          %p 是非見てください/ 写真をクリックしたら遷移します。
          %p pass/ admin,2222 url/ "http://18.181.155.100/"
          
        .work-content__comment__textright 
          %h5 <フットサルホームページ＞ 
          = link_to "http://176.32.86.158/" do
          
            = image_tag 'fut.jpg' , class: "futsal_01"
          %p 技術/ HTML,CSS,Javascript,rails,aws,
          %p 機能/モーダル、アコーディオン、フェードイン,etc
          %p 制作について/趣味のフットサル、HPを通じてよりフットサル場の集客、魅力を伝える事を意識しました。
          %p 学び/お客様目線でHPを作成する難しさ、多角的により勉強してお客様のためになるHPを作成し、貢献できる様になりたいと思いました。
          %p 是非見てください/ 写真をクリックしたら遷移します。
          %p url/ "http://176.32.86.158/
  
  
  
  
  
  
  
  
  .faq-wrapper
    .container
      .heading
        %h2#faq FAQ
      .faq
        %ul#faq-list
          %li.faq-list-item
            %h3.question 後藤の趣味は？
            %span +
            .answer
              %p フットサルです。
          %li.faq-list-item
            %h3.question エンジニアになりやってみたいこと？
            %span +
            .answer
              %p テクノロジーを通じて多くの人の役にたちたい。
          %li.faq-list-item
            %h3.question 特徴は？
            %span +
            .answer
              %p 諦めないことです。




  .contact
    .contact-content
      .contact-content__text
        %h2#contact Contact
        .contact-content__text__mail
          %h3 メールアドレス　
        .contact-content__text__comment
          %span.btn takeoamiki@hotmail.co.jp

        
  
  
  .footer
    .footer-content
      .fotter-content__item
        %ul
          %li
            %a(href="#about")
              About
          %li
            %a(href="#work")
              Work
          %li
            %a(href="#faq")
              FAQ    
          %li
            %a(href="#contact")
              Contact
              