.wrappper

  .header
    .header-content
      .header-content__logo
        %h3 Gotou takeyuki
        %h3 portfolio
    .header-nav-container
      %ul
        %li
          %a(href="#about")
            About
        %li
          %a(href="#works")
            Works
        %li
          %a(href="#pr")
            PR
        %li
          %a(href="#contact")
            Contact

  .cover
    .cover-inner
      %ul.slideshow
        %li
          = image_tag 'main.jpg', width: '100%', height: '100%'
          %p ZEROからの挑戦をあえて選んだのは！
        %li
          = image_tag 'main2.jpg', width: '100%', height: '100%'
          %p テクノロジーの可能性と,経験を掛け合わせ！
        %li
          = image_tag 'main3.jpg', width: '100%', height: '100%'
          %p 多くの人の役に立ちたいと思ったからです！
        
        


  .about
    .about-content
      .about-content__comment
        %h2#about About
        .about-content__comment__image
          = image_tag "takeyuki5.jpg"
        .about-content__comment__text
          
          %p.txt はじめまして。後藤健之と申します。
          %p.txt お米の名産地、新潟県の田舎で生まれ、育ちました。
          %p.txt 趣味はフットサル！サッカー観戦！高校までは野球部で高校球児でしたが笑
          %p.txt これまでは惣菜店の店長、工具の営業をしていました！
          %p.txt 前職の社内改革を通じて、プログラミングがもたらす影響力、可能性に魅力を感じました。
          %p.txt 自分の作ったプロダクトで多くの人の役に立ちたい、創意工夫で面白い事をやりたい！
          %p.txt 人生最後の挑戦をやり抜く為、前職の退職を決意！
          %p.txt 独学期間を経てプログラミングスクールTECH CAMP 2020年２月入学
          %p.txt 2020年8月卒業、現在に至ります。

  .work
    .work-content
      %h2#works Works
      .work-content__comment
        .work-content__comment__textleft
          .work-content__comment__textleft__inner
            = link_to "http://18.181.155.100/" do
              = image_tag 'furima1.jpg' , class: "furima_01"
          
          = link_to "http://18.181.155.100/" do
            %p.comeo フリーマーケットサイト
          %p.come ユーザー名/admin
          %p.come pass/ 2222
          %p.comeh HTML/CSS/Rails/ruby/DB
          %p.come AWS/javasript
          

          = link_to "https://github.com/takeyukigoto/freemarket_sample_71a/" do
            %p.come.g git hub
          
        .work-content__comment__textright 
          .work-content__comment__textright__inner
            = link_to "http://176.32.86.158/" do
              = image_tag 'fut1.jpg' , class: "futsal_01"
          = link_to "http://176.32.86.158/" do
            %p.komeo フットサル予約サイト
          %p.komef HTML/CSS/Javascript/ruby/rails
          %p.komef AWS/MediaQueries
          
          = link_to "https://github.com/takeyukigoto/futsal_komaki/" do
            %p.come.g git hub
  
      .work-content__commentund
        .work-content__commentund__textleft
          .work-content__commentund__textleft__inner
            = link_to "http://54.248.200.23/" do
              = image_tag 'portfolio.jpg' , class: "furima_01"
          
          = link_to "http://54.248.200.23/" do
            %p.comeundo 自己紹介ポートフォリオ
          %p.comeund HTML/CSS/Rails/ruby/
          %p.comeund AWS/javasript/MediaQueries

          = link_to "https://github.com/takeyukigoto/takeyuki_prof" do
            %p.come.g git hub



        .work-content__commentund__textright 
          .work-content__commentund__textright__inner
            = link_to "http://54.150.10.60/" do
              = image_tag 'chat-room.jpg' , class: "futsal_01"
          = link_to "http://54.150.10.60/" do
            %p.komeundo chatroom
          %p.komeundf HTML/CSS/Javascript/ruby/rails
          %p.komeundf Ajax/AWS/github/
          
          = link_to "https://github.com/takeyukigoto/chat-room" do
            %p.come.g git hub
  

          
   
  
  
  .pr
    .pr-content
      %h2#pr PR
      .pr-content__comment
        %P.prhead 素直な心な心を大切に、新しい事へのチャレンジ！
        %P.prcoment 前職の営業職も未経験からのチャレンジでした！
        %P.prcoment2 自分の考え方に固執せず、ビジネス書を読んだり、諸先輩方に営業の心得、アドバイスを
        %P.prcoment3 いただき素直に実践。
        %P.prcoment3 結果、多くの方々の知恵を集める事ができ、皆様に支えてもらい結果を残す事ができました。
        %P.prcoment3 素直な心を大切に周知を集め、自分の作ったもので多くの人の役に立てるエンジニアを目指していきます！



  .contact
    .contact-content
      .contact-content__text
        %h2#contact Contact
        .contact-content__text__mail
          %p e-mail
          %p takeoamiki@hotmail.co.jp
          %p ご連絡お待ちしております。
        

        
  
  
  .footer
    .footer-content
      .footer-content__item
        %ul
          %li
            %a(href="#about")
              About
          %li
            %a(href="#works")
              Works
          %li
            %a(href="#pr")
              PR    
          %li
            %a(href="#contact")
              Contact
              
              